/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .photo {
    flex: 0 0 auto; /* Prevent the photo from growing or shrinking */
    margin-right: 20px; /* Adjust the spacing as needed */
  }
  
  .photo img {
    display: block;
    width: 150px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%;
  }
  nav {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .details {
    flex: 1; /* Allow the details section to grow and fill remaining space */
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
  }
  
  /* Main styles */
  main {
    padding: 40px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  